{% extends "tek_base.html" %}
{% block content %}
  <style>
      @media only screen and (max-width: 500px) {
            .afes{
                overflow:scroll;
            }
      }
  </style>
  <!-- TO DO List -->
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>
      <h3 class="box-title">Maktablar Tekshirish</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-block btn-success">Soni:{{school_count}}</button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body afes">
      <table class="table">
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Maktab</th>
              <th scope="col">Formularlar soni</th>
              <th scope="col">Topshirilgan</th>
              <th scope="col">Topshirilmagan</th>
              <th scope="col">Jarayonda</th>
          </tr>
        </thead>
        <tbody>
        {% for i in school %}
          <tr>
              <th scope="row">{{ i.id }}</th>
              <th>{{ i.user.matab }}</th>
              <th>{{ i.formular_soni }}</th>
              <th>{{ i.topshirilgan }}</th>
              <th>{{ i.topshirilmagan }}</th>
              <th>{{ i.jarayonda }}</th> 
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- /.box-body -->

  </div><!-- /.box -->
{% endblock content %}